button{ /*BOTON CONTACTANOS*/
    border: 0px;
    background-color: $colorPrimario;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: $colorSecundario;
    transition: 0.5s !important;
}
.text{
    color: white;
}
//EXTEND//
.boton_enviar{
    @extend button;
    background-color: $colorFondo;
}